* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: #212121;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.headerFont {
  font-weight: 600;
  font-size: calc(20px + (28 - 20) * ((100vw - 393px) / (1512 - 393)));
  line-height: calc(24.7px + (36 - 24.7) * ((100vw - 393px) / (1512 - 393)));
}
/*===========================START HEADER===========================*/
header {
  width: 100%;
  max-width: 1512px;
  display: flex;
  padding: 15px 50px 11px 24px;
  gap: 20px;
  flex-wrap: wrap;
}

.headerInputs {
  display: flex;
  width: 100%;
  max-width: 600px;
  margin-left: 40px;
  order: 1;
}

.headerButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 22px;
}

.headerSettings {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  margin-left: auto;
  order: 2;
}

.logo {
  max-width: 118px;
  width: 100%;
}

.singUpHeader,
.joinMeetup {
  background-color: #00798a;
  color: #ffffff;
  border-radius: 8px;
  padding: 8px 16px;
  border: none;
  display: inline-block;
  white-space: nowrap;
}

.singUpHeader {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  width: 83px;
  height: 36px;
}

.language,
.LogIn {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  width: 100%;
  white-space: nowrap;
}

.headerLogoInputs {
  width: 100%;
  max-width: 750px;
}

.searchEvents,
.searchCity {
  width: 100%;
  height: 42px;
  max-width: 300px;
  display: flex;
  align-items: center;
}

.searchEvents {
  padding: 10px;
  border-radius: 8px 0px 0px 8px;
  border: 1px solid #d9d9d9;
}

.inputCityContainer {
  height: 100%;
  padding: 10px;
  width: 100%;
  border: 1px solid #d9d9d9;
}

.searchIconCity {
  width: 20px;
  height: 20px;
}

.searchIconEvnts {
  width: 22px;
  height: 22px;
}

.searchIconEvnts {
  margin-right: 5px;
  order: -1;
}

.searchIconCityContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  width: 42px;
  height: 100%;
  border-radius: 0px 8px 8px 0px;
  padding: 11px;
  background-color: #f65858;
}

.inputEvents,
.inputCity {
  width: 100%;
  border: none;
  outline: none;
}
.inputEvents::placeholder {
  color: #707070;
  font-weight: 400;
  font-size: 16px;
}

.inputCity::placeholder {
  color: #000000;
  font-weight: 400;
  font-size: 16px;
}

/*===========================END HEADER===========================*/
/*====================START PEOPLEPLATFORMSECTION=================*/

main {
  padding: 0px 10.45%;
  width: 100%;
}

.peoplePlatformSection {
  display: flex;
  padding: 71px 0px 98.5px 0px;
  gap: 46px;
}

.peoplePlatformContent {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 50%;
}

.peoplePlatformContent h1 {
  font-weight: 700;
  line-height: calc(30.5px + (52 - 30.5) * ((100vw - 393px) / (1512 - 393)));
  font-size: calc(25px + (42 - 25) * ((100vw - 393px) / (1512 - 393)));
}

.peoplePlatformContent {
  font-weight: 400;
  line-height: 24px;
  font-size: calc(12px + (16 - 12) * ((100vw - 393px) / (1512 - 393)));
}

.peoplePlatformImage {
  width: 50%;
}

.peoplePlatformImage img {
  max-width: 379px;
  width: 100%;
}

.joinMeetup {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  width: 125px;
  height: 40px;
}
/*====================END PEOPLEPLATFORMSECTION=================*/
/*====================START EVENTSNEARSECTION===================*/
.eventsNearSection {
  display: flex;
  flex-direction: column;
  padding: 24px 0 40px 0;
}

.eventNearTitleContainer {
  margin-bottom: 28px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.eventsNearTitle {
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
}

.cityEvent {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  padding: 12px;
  border-radius: 8px;
  background-color: rgba(151, 202, 209, 0.12);
}

.cityEvent img {
  width: 22px;
  height: 22px;
}

.cityEvent p {
  font-weight: 600;
  font-size: calc(13.71px + (20 - 13.71) * ((100vw - 393px) / (1512 - 393)));
  line-height: calc(16.4px + (24 - 16.4) * ((100vw - 393px) / (1512 - 393)));
  color: #00798a;
}

.eventNearTitleContainer a,
.eventOnlineTitleContainer a {
  color: #00798a;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
}

.eventNearCardsContainer,
.eventOnlineCardsContainer {
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.eventNearRow1CardsContainer,
.eventNearRow2CardsContainer,
.eventOnlineNearRow1CardsContainer {
  display: flex;
  gap: 32px;
}

.eventNearCard,
.eventOnlineNearCard {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-height: 399px;
  width: 100%;
}

.textCardContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 256px;
}

.eventNearCard img,
.eventOnlineNearCard img {
  max-width: 272px;
  width: 100%;
}

.eventNearCard h3,
.eventOnlineNearCard h3 {
  font-weight: 600;
  font-size: calc(9.64px + (20 - 9.64) * ((100vw - 393px) / (1512 - 393)));
  line-height: calc(14.5px + (24 - 14.5) * ((100vw - 393px) / (1512 - 393)));
}

.eventTypeandLocation {
  color: #707070;
  font-size: calc(8.44px + (14 - 8.44) * ((100vw - 393px) / (1512 - 393)));
  line-height: calc(12.1px + (20 - 12.1) * ((100vw - 393px) / (1512 - 393)));
  font-weight: 500;
}

.eventTime {
  display: flex;
  gap: 6px;
}

.eventTime p {
  font-weight: 400;
  line-height: calc(12.1px + (20 - 12.1) * ((100vw - 393px) / (1512 - 393)));
  font-size: calc(8.44px + (14 - 8.44) * ((100vw - 393px) / (1512 - 393)));
  text-transform: uppercase;
}

.eventTime img {
  width: 20px;
  height: 20px;
}

.eventEntryAndVisit {
  display: flex;
  gap: 15px;
}

.eventVisit,
.eventEntry {
  display: flex;
  gap: 5px;
}

.eventVisit p,
.eventEntry p {
  font-size: calc(8.44px + (16 - 8.44) * ((100vw - 393px) / (1512 - 393)));
  font-weight: 400;
  line-height: calc(12.1px + (24 - 12.1) * ((100vw - 393px) / (1512 - 393)));
  white-space: nowrap;
}

.eventVisit img,
.eventEntry img {
  width: 20px;
  height: 20px;
}

.visible {
  display: none;
}
/*====================END EVENTSNEARSECTION===================*/
/*====================START EVENTONLINESECTION================*/
.eventsOnlineSection {
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
}
.eventOnlineTitleContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
  align-items: center;
}

/*====================END EVENTONLINESECTION================*/
/*====================START JOINMEETUPSECTION===============*/
.joinMeetupSection {
  display: grid;
  gap: 16px 75px;
  padding: 20px 4.69%;
  border-radius: 8px;
  background-color: rgba(151, 202, 209, 0.08);
}

.joinMeetupContentContainer p {
  font-weight: 400;
  font-size: calc(12px + (16 - 12) * ((100vw - 393px) / (1512 - 393)));
  line-height: 24px;
}

.singUpMeetup {
  background-color: #e32359;
  color: #ffffff;
  padding-top: 8px;
  padding-bottom: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  width: 192px;
  height: 40px;
  border-radius: 8px;
  border: none;
}

.joinMeetupImageContainer img {
  max-width: 341px;
  width: 100%;
}

.joinMeetupHeaderContainer {
  grid-column: 1/2;
  grid-row: 1/2;
  align-self: end;
}

.joinMeetupContentContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  grid-column: 1/2;
  grid-row: 2/3;
}

.joinMeetupImageContainer {
  grid-column: 2/3;
  grid-row: 1/3;
  align-self: center;
}
/*====================END JOINMEETUPSECTION===============*/
/*====================START TOPCATEGORIESSECTION==========*/
.topCategoriesSection {
  display: flex;
  flex-direction: column;
  padding: 64px 0 64px 0;
  gap: 24px;
}

.topCategoriesContentContainer {
  display: flex;
  gap: 16px;
  width: 100%;
  flex-wrap: wrap;
}

.topCategoriContainer {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 22px 20px 16px 20px;
  border-radius: 8px;
  background-color: rgba(151, 202, 209, 0.08);
  flex: 1 1 135px;
  min-width: 135px;
  width: 100%;
  justify-content: start;
  align-items: center;
}

.topCategoriContainer img {
  width: 20px;
  height: 20px;
}

.topCategoriContainer p {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
/*====================END TOPCATEGORIESSECTION==========*/
/*==============START POPULARCITIESONMEETUPSECTION======*/
.popularCitiesOnMeetupSection {
  display: flex;
  flex-direction: column;
  gap: 28px;
  padding-bottom: 64px;
}

.popularCitiesOnMeetupTitleContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.popularCitiesOnMeetupTitleContainer p {
  color: #707070;
  font-weight: 400;
  font-size: calc(12px + (16 - 12) * ((100vw - 393px) / (1512 - 393)));
  line-height: 24px;
}

.popularCitiesOnMeetupImageContainers {
  display: flex;
  gap: 42px;
  justify-content: center;
  align-items: center;
}

.popularCitiesOnMeetupImageContainer {
  display: flex;
  gap: 24px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.popularCitiesOnMeetupImageContainer p {
  font-weight: 600;
  font-size: calc(14.93px + (20 - 14.93) * ((100vw - 393px) / (1512 - 393)));
  line-height: calc(20.9px + (28 - 20.9) * ((100vw - 393px) / (1512 - 393)));
}

.popularCitiesOnMeetupImageContainer img {
  max-width: 205px;
  width: 100%;
}
/*==============END POPULARCITIESONMEETUPSECTION=========*/
/*==============START MEETUPWORKSSECTION==============*/
.meetupWorksSection {
  display: flex;
  flex-direction: column;
  padding-bottom: 64px;
  gap: 24px;
}

.discoverEventandGroupsContainer,
.startGroupContainer {
  display: flex;
  gap: 24px;
  padding: 32px 24px 24px 24px;
  background-color: rgba(151, 202, 209, 0.12);
  border-radius: 8px;
  width: 50%;
}

.discoverEventandGroupsContainer img,
.startGroupContainer img {
  width: 41px;
  height: 41px;
}

.discoverEventandGroupsContent,
.startGroupContent {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 360px;
}

.discoverEventandGroupsContent h3,
.startGroupContent h3 {
  font-weight: 600;
  font-size: calc(12px + (20 - 12) * ((100vw - 393px) / (1512 - 393)));
  line-height: calc(14.9px + (24 - 14.9) * ((100vw - 393px) / (1512 - 393)));
}

.discoverEventandGroupsContent p,
.startGroupContent p {
  font-weight: 400;
  font-size: calc(9.96px + (16 - 9.96) * ((100vw - 393px) / (1512 - 393)));
  line-height: calc(14.9px + (24 - 14.9) * ((100vw - 393px) / (1512 - 393)));
}

.discoverEventandGroupsContent a,
.startGroupContent a {
  font-weight: 500;
  font-size: calc(10px + (16 - 10) * ((100vw - 393px) / (1512 - 393)));
  line-height: 24px;
  color: #00798a;
  text-decoration: none;
}

.groupsContainer {
  display: flex;
  gap: 32px;
}
/*==============END MEETUPWORKSSECTION==============*/
/*==============START FRIENDSHIPSSECTION============*/
.friendshipsSection {
  padding-bottom: 64px;
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.frendshipTitleContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 880px;
}

.frendshipTitleContainer p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #707070;
}

.frendshipsCards {
  display: flex;
  gap: 32px;
}

.frendshipsCards img {
  max-width: 376px;
  width: 100%;
}

.frendshipsCardTextContent h3 {
  font-weight: 600;
  font-size: calc(16px + (18 - 16) * ((100vw - 393px) / (1512 - 393)));
  line-height: 28px;
}

.frendshipsCardTextContent p {
  margin-top: 12px;
  margin-bottom: 16px;
  color: #707070;
  font-weight: 400;
  font-size: calc(12px + (16 - 12) * ((100vw - 393px) / (1512 - 393)));
  line-height: 24px;
}

.frendshipsCardTextContent a {
  color: #00798a;
  font-weight: 400;
  font-size: calc(12px + (16 - 12) * ((100vw - 393px) / (1512 - 393)));
  line-height: 24px;
  text-decoration: none;
}

.frendshipsCard {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.frendshipsCardTextContent {
  display: flex;
  flex-direction: column;
  max-width: 330px;
  width: 100%;
}
/*==============END FRIENDSHIPSSECTION============*/
/*=================START FOOTER===================*/
footer {
  width: 100%;
  max-width: 1512px;
  display: flex;
  padding: 24px 10.45% 40px 10.45%;
  background-color: #212121;
  flex-direction: column;
  gap: 24px;
  height: 559px;
}

.createMeetupGroup {
  display: flex;
  gap: 40px;
  justify-content: start;
  align-items: center;
  border-bottom: 1px solid #707070;
  padding-bottom: 24px;
}

.createMeetupGroup p {
  color: #f6f7f8;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.getStartet {
  color: #ffffff;
  border-radius: 6px;
  border: 2px solid white;
  padding: 10px 14px 10px 14px;
  background-color: #212121;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.contentFooter {
  display: flex;
  margin-bottom: 12px;
}

.youAccaunt,
.discover,
.meetup {
  display: flex;
  flex-direction: column;
  gap: 7px;
  flex: 1;
}

.youAccaunt h3,
.discover h3,
.meetup h3 {
  color: #f6f7f8;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.youAccaunt a,
.discover a,
.meetup a {
  color: #c5c4c4;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.folowUsContent {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.folowUsContent h3 {
  color: #f6f7f8;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.cozialMedia {
  display: flex;
  gap: 32px;
}

.cozialMedia img {
  width: 30px;
  height: 30px;
}

.digitalContent {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 24px;
}

.appContent {
  display: flex;
  gap: 12px;
  align-items: end;
}

.appContent img {
  max-width: 140px;
  height: 40px;
  width: 100%;
}

.legalLinks {
  display: flex;
  gap: 24px;
  justify-content: start;
  align-items: center;
}

.legalLinks a {
  text-decoration: none;
  color: #c5c4c4;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.legalLinks a:first-child {
  color: #ffffff;
}
/*=================END FOOTER===================*/
/*============START EVENTNEARNYSECTION===========*/
.eventNearNYSection {
  display: flex;
  padding-top: 77px;
  padding-bottom: 101px;
  justify-content: space-between;
}

.eventNearNY {
  display: flex;
  flex-direction: column;
  gap: 34px;
  width: 50%;
}

.eventNearNYTitleContainer h2 {
  margin-bottom: 16px;
}

.eventNearNYTitleContainer p {
  display: inline-block;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #00798a;
  padding-bottom: 5px;
  border-bottom: 4px solid #00798a;
  margin-bottom: 12px;
}

.eventNearNYSettingsContainer {
  width: 100%;
  display: flex;
  gap: 18px;
  justify-content: start;
}

select {
  position: relative;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  padding-right: 12px;
  border: none;
  background-color: #f6f7f8;
  cursor: pointer;
  z-index: 1;
}

.selectContainer {
  background-color: #f6f7f8;
  border-radius: 40px;
  padding: 16px;
  overflow: visible;
}

/* select:hover {
  background-color: #f6f7f8;
} */

/* select option {
  background-color: #f6f7f8;
  color: #000;
} */

select:focus {
  outline: none;
  background-color: #f6f7f8;
}

/* select:focus option:selected {
  background-color: #212121;
  color: #fff;
  border: none;
} */

.eventNearNYCardsContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.eventNearNYCard {
  display: flex;
  gap: 12px;
  border-top: 1px solid #d9d9d9;
  padding-top: 16px;
  min-height: 160px;
}

.eventNearNYCard img {
  max-width: 159px;
  max-height: 90px;
  width: 100%;
}

.cardNearNYContent {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.eventTime {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #7c6f50;
  text-transform: uppercase;
}

.basicEvntNearNYInformation {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.basicEvntNearNYInformation h3 {
  font-weight: 400;
  font-size: calc(9.81px + (16 - 9.81) * ((100vw - 393px) / (1512 - 393)));
  line-height: calc(9.51px + (24 - 9.51) * ((100vw - 393px) / (1512 - 393)));
}

.eventDistance {
  font-weight: 400;
  font-size: calc(8.58px + (14 - 8.58) * ((100vw - 393px) / (1512 - 393)));
  line-height: calc(12.3px + (20 - 12.3) * ((100vw - 393px) / (1512 - 393)));
  color: #707070;
}

.eventMemebers {
  font-weight: 400;
  font-size: calc(8.58px + (14 - 8.58) * ((100vw - 393px) / (1512 - 393)));
  line-height: calc(12.3px + (20 - 12.3) * ((100vw - 393px) / (1512 - 393)));
  color: #707070;
}

.remainingSpots {
  font-weight: 400;
  font-size: calc(8.58px + (14 - 8.58) * ((100vw - 393px) / (1512 - 393)));
  line-height: calc(12.3px + (20 - 12.3) * ((100vw - 393px) / (1512 - 393)));
  color: #e32359;
}

.attendeesEventNearNY {
  display: flex;
  gap: 15px;
}

.eventNearNYMap {
  display: flex;
  max-width: 350px;
  flex-direction: column;
  width: 50%;
  justify-content: start;
  align-items: end;
  gap: 14px;
  padding-left: 20px;
}

.mapImage {
  max-width: 350px;
  width: 100%;
  z-index: 1;
}

.mapContainer {
  position: relative;
  width: 100%;
}

.closeImage {
  position: absolute;
  top: 11px;
  right: 15px;
  width: 15px;
  height: 15px;
  z-index: 2;
  background-color: #ffffff;
}

.showInBrowserImage {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 173px;
  height: 41px;
  width: 100%;
}

.mapTextContent {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: start;
}

.mapTextContent p {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

.mapTextContent h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
}
/*============END EVENTNEARNYSECTION===========*/

/*=======MEDIA QUERY START=====*/

@media (max-width: 1024px) {
  .headerLogoInputs {
    gap: 20px;
  }
  .startGroupContainer,
  .discoverEventandGroupsContainer {
    padding: 32px 15px 24px 15px;
  }
  .peoplePlatformSection {
    padding: 40px 0px 50.5px 0px;
  }

  .eventNearRow1CardsContainer,
  .eventNearRow2CardsContainer,
  .eventOnlineNearRow1CardsContainer {
    gap: 20px;
  }
  .eventNearCard,
  .eventOnlineNearCard {
    height: auto;
  }

  .eventsOnlineSection {
    padding-bottom: 30px;
  }

  .topCategoriesSection {
    padding: 32px 0px;
  }

  .popularCitiesOnMeetupTitleContainer {
    gap: 10px;
  }

  .popularCitiesOnMeetupSection {
    gap: 15px;
    padding-bottom: 45px;
  }

  .popularCitiesOnMeetupImageContainers {
    flex-wrap: wrap;
    gap: 20px;
  }

  .popularCitiesOnMeetupImageContainer {
    gap: 15px;
  }

  .meetupWorksSection {
    padding-bottom: 45px;
  }

  .friendshipsSection {
    padding-bottom: 45px;
  }

  .friendshipsSection {
    gap: 16px;
  }

  .frendshipsCards {
    gap: 20px;
  }

  .eventNearNYSection {
    padding-top: 40px;
    padding-bottom: 45px;
  }

  .eventNearNYMap {
    padding-top: 170px;
  }

  .eventNearNYCard img {
    max-width: 110px;
  }

  .cardNearNYContent {
    gap: 16px;
  }

  .joinMeetupSection {
    gap: 8px 30px;
  }

  .joinMeetupContentContainer {
    gap: 8px;
  }
}

@media (max-width: 768px) {
}

@media (max-width: 393px) {
  main {
    padding: 0px 15px;
  }

  header {
    padding: 6px;
    row-gap: 15px;
  }

  .headerSettings {
    order: 1;
    flex: 1 1 auto;
    justify-content: end;
  }

  .headerInputs {
    order: 2;
    margin-left: 0;
    justify-content: center;
  }

  .headerButtons {
    gap: 5px;
  }

  .inputCityContainer {
    display: none;
  }

  .headerSettings {
    margin-left: 0;
  }

  .searchCity {
    width: auto;
  }

  .peoplePlatformSection {
    flex-direction: column;
  }

  .peoplePlatformContent,
  .peoplePlatformImage {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .peoplePlatformImage img {
    max-width: 215px;
    width: 100%;
  }

  .seeAllEvents {
    display: none;
  }

  .eventNearRow1CardsContainer,
  .eventNearRow2CardsContainer,
  .eventOnlineNearRow1CardsContainer {
    flex-direction: column;
    gap: 13px;
  }

  .eventNearCard,
  .eventOnlineNearCard {
    flex-direction: row;
    border-top: 1px solid #d9d9d9;
    padding-top: 16px;
  }

  .eventNearCard img,
  .eventOnlineNearCard img {
    max-width: 97.51px;
    max-height: 54.99px;
  }

  .textCardContainer {
    gap: 4px;
  }

  .joinMeetupHeaderContainer {
    grid-column: 1/2;
    grid-row: 1/2;
    align-self: end;
  }

  .joinMeetupContentContainer {
    grid-column: 1/2;
    grid-row: 3/4;
  }

  .joinMeetupImageContainer {
    grid-column: 1/2;
    grid-row: 2/3;
    align-self: center;
  }

  .popularCitiesOnMeetupImageContainer:last-child {
    display: none;
  }

  .popularCitiesOnMeetupImageContainer img {
    max-width: 153px;
  }

  .groupsContainer {
    flex-direction: column;
  }

  .startGroupContainer,
  .discoverEventandGroupsContainer {
    width: 100%;
  }

  .frendshipTitleContainer p {
    display: none;
  }

  .frendshipsCards {
    flex-wrap: wrap;
  }

  .appContent {
    display: none;
  }

  .legalLinks a:not(:first-child) {
    display: none;
  }

  .singUpMeetup {
    margin: 8px auto;
  }

  .hidden {
    display: none;
  }
  .eventTime {
    order: -1;
  }

  .eventTime p {
    color: #7c6f50;
  }

  .visible {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .onlineEvent {
    display: flex;
    gap: 2.43px;
  }

  .onlineEvent img {
    height: 9.73px;
    width: 9.73px;
  }

  .onlineEvent p {
    color: #707070;
    font-weight: 400;
    font-size: 7.3px;
    line-height: 9.7px;
  }

  .attendeesEvent {
    margin-top: 17.21px;
  }

  .attendeesEvent p {
    color: #707070;
    font-weight: 400;
    font-size: 8.44px;
    line-height: 12.1px;
  }
}
