* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*===========================START HEADER===========================*/
header {
  width: 100%;
  max-width: 1512px;
  display: flex;
  padding: 15px 50px 11px 24px;
  height: 64px;
  justify-content: space-between;
}

.headerLogoInputs {
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
}

.headerInputs {
  display: flex;
}

.headerButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 22px;
}

.headerSettings {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.singUpHeader,
.joinMeetup {
  background-color: #00798a;
  color: #ffffff;
  border-radius: 8px;
  padding: 8px 16px;
  border: none;
  font-weight: medium;
}

.singUpHeader {
  font-weight: medium;
  font-size: 14px;
  line-height: 20px;
  width: 83px;
  height: 36px;
}

.joinMeetup {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  width: 125px;
  height: 40px;
}

.language,
.LogIn {
  text-decoration: none;
  color: #212121;
}

.headerInputs {
  width: 100%;
  max-width: 600px;
}

.headerLogoInputs {
  width: 100%;
  max-width: 750px;
}

.searchEvents,
.searchCity {
  width: 100%;
  height: 42px;
  max-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchEvents {
  padding: 10px;
  border-radius: 8px 0px 0px 8px;
  border: 1px solid #d9d9d9;
  border-right: none;
}

.inputCityContainer {
  height: 100%;
  padding: 10px;
  width: 100%;
  border: 1px solid #d9d9d9;
}

.searchIconCity {
  width: 20px;
  height: 20px;
}

.searchIconEvnts {
  width: 22px;
  height: 22px;
}

.searchIconEvnts {
  margin-right: 5px;
  order: -1;
}

.searchIconCityContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  width: 42px;
  height: 100%;
  border-radius: 0px 8px 8px 0px;
  padding: 11px;
  background-color: #f65858;
}

.inputEvents,
.inputCity {
  width: 100%;
  border: none;
  outline: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 18.75px;
}
.inputEvents {
  color: #707070;
}

.inputCity {
  color: #000000;
}

/*===========================END HEADER===========================*/
/*====================START PEOPLEPLATFORMSECTION=================*/

main {
  padding: 0px 158px 0px 158px;
  width: 100%;
}

.peoplePlatformSection {
  display: flex;
  padding: 71px 0px 98.5px 0px;
}

.peoplePlatformContent {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 50%;
}

.peoplePlatformContent h1 {
  color: #212121;
  font-weight: 700;
  line-height: 52px;
  font-size: 42px;
}

.peoplePlatformContent {
  color: #212121;
  font-weight: 400;
  line-height: 24px;
  font-size: 16px;
}

.peoplePlatformImage {
  width: 50%;
}

.peoplePlatformImage img {
  max-width: 379px;
  padding-left: 55px;
}

/*====================END PEOPLEPLATFORMSECTION=================*/
/*====================START EVENTSNEARSECTION===================*/
.eventsNearSection {
  display: flex;
  flex-direction: column;
  padding: 24px 0 40px 0;
}

.eventNearTitleContainer {
  margin-bottom: 28px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.eventsNearTitle {
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
}

.eventsNearTitle h2 {
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
  color: #212121;
}

.cityEvent {
  display: flex;
  position: relative;
  gap: 8px;
  justify-content: center;
  align-items: center;
  padding: 12px;
  border-radius: 8px;
  background-color: transparent;
  background-color: rgba(151, 202, 209, 0.12);
}

.cityEvent img {
  width: 22px;
  height: 22px;
}

.cityEvent p {
  font-weight: 600px;
  font-size: 20px;
  line-height: 24px;
  color: #00798a;
}

.eventNearTitleContainer a,
.eventOnlineTitleContainer a {
  color: #00798a;
  font-weight: 500;
  font-size: 16;
  line-height: 24px;
  text-decoration: none;
}

.eventNearCardsContainer,
.eventOnlineCardsContainer {
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.eventNearRow1CardsContainer,
.eventNearRow2CardsContainer,
.eventOnlineNearRow1CardsContainer {
  display: flex;
  gap: 32px;
}

.eventNearCard,
.eventOnlineNearCard {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-bottom: 74px;
  width: 100%;
}

.textCardContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 256px;
}

.eventNearCard img,
.eventOnlineNearCard img {
  max-width: 272px;
  width: 100%;
}

.eventNearCard h3,
.eventOnlineNearCard h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #212121;
}

.eventTypeandLocation {
  color: #707070;
  font-size: 14;
  line-height: 20px;
  font-weight: 500;
}

.eventTime {
  display: flex;
  gap: 6px;
}

.eventTime p {
  font-weight: 400;
  line-height: 20px;
  font-size: 14px;
  text-transform: uppercase;
}

.eventTime img {
  width: 20px;
  height: 20px;
}

.eventEntryAndVisit {
  display: flex;
  gap: 15px;
}

.eventVisit,
.eventEntry {
  display: flex;
  gap: 5px;
}

.eventVisit p,
.eventEntry p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #212121;
}

.eventVisit img,
.eventEntry img {
  width: 20px;
  height: 20px;
}
/*====================END EVENTSNEARSECTION===================*/
/*====================START EVENTONLINESECTION================*/
.eventsOnlineSection {
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
}
.eventOnlineTitleContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.eventOnlineTitleContainer h2 {
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
  color: #212121;
}
/*====================END EVENTONLINESECTION================*/
/*====================START JOINMEETUPSECTION===============*/
.joinMeetupSection {
  display: flex;
  padding: 36px 56px 36px 56px;
  gap: 75px;
  border-radius: 8px;
  background-color: rgba(151, 202, 209, 0.08);
}

.joinMeetupContentContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.joinMeetupContentContainer h2 {
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
  color: #212121;
}

.joinMeetupContentContainer p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #212121;
}

.singUpMeetup {
  background-color: #e32359;
  color: #ffffff;
  padding-top: 8px;
  padding-bottom: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  width: 192px;
  height: 40px;
  border-radius: 8px;
  border: none;
}

/*====================END JOINMEETUPSECTION===============*/
/*====================START TOPCATEGORIESSECTION==========*/
.topCategoriesSection {
  display: flex;
  flex-direction: column;
  padding: 64px 0 64px 0;
  gap: 24px;
}

.topCategoriesTeitleContainer h2 {
  display: flex;
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
  color: #212121;
}

.topCategoriesContentContainer {
  display: flex;
  gap: 16px;
  width: 100%;
  flex-wrap: wrap;
}

.topCategoriContainer {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 22px 20px 16px 20px;
  border-radius: 8px;
  background-color: rgba(151, 202, 209, 0.08);
  flex: 1 1 135px;
  min-width: 135px;
  width: 100%;
  justify-content: start;
  align-items: center;
}

.topCategoriContainer img {
  width: 20px;
  height: 20px;
}

.topCategoriContainer p {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #212121;
}
/*====================END TOPCATEGORIESSECTION==========*/
/*==============START POPULARCITIESONMEETUPSECTION======*/
.popularCitiesOnMeetupSection {
  display: flex;
  flex-direction: column;
  gap: 28px;
  padding-bottom: 64px;
}

.popularCitiesOnMeetupTitleContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.popularCitiesOnMeetupTitleContainer h2 {
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
  color: #212121;
}

.popularCitiesOnMeetupTitleContainer p {
  color: #707070;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.popularCitiesOnMeetupImageContainers {
  display: flex;
  gap: 42px;
  justify-content: center;
  align-items: center;
}

.popularCitiesOnMeetupImageContainer {
  display: flex;
  gap: 24px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.popularCitiesOnMeetupImageContainer p {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #212121;
}

.popularCitiesOnMeetupImageContainer img {
  max-width: 205px;
  width: 100%;
}
/*==============END POPULARCITIESONMEETUPSECTION=========*/
