* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  width: 100%;
  max-width: 1512px;
  display: flex;
  padding: 15px 50px 11px 24px;
  height: 64px;
  justify-content: space-between;
}

.headerLogoInputs {
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
}

.headerInputs {
  display: flex;
}

.headerButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 22px;
}

.headerSettings {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.SingUp,
.joinMeetup {
  background-color: #00798a;
  color: #ffffff;
  border-radius: 8px;
  padding: 8px 16px;
  border: none;
  font-weight: medium;
}

.SingUp {
  font-weight: medium;
  font-size: 14px;
  line-height: 20px;
  width: 83px;
}

.joinMeetup {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  width: 125px;
}

.language,
.LogIn {
  text-decoration: none;
  color: #212121;
}

.headerInputs {
  width: 100%;
  max-width: 600px;
}

.headerLogoInputs {
  width: 100%;
  max-width: 750px;
}

.searchEvents,
.searchCity {
  width: 100%;
  height: 42px;
  max-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchEvents {
  padding: 10px;
  border-radius: 8px 0px 0px 8px;
  border: 1px solid #d9d9d9;
  border-right: none;
}

.inputCityContainer {
  height: 100%;
  padding: 10px;
  width: 100%;
  border: 1px solid #d9d9d9;
}

.searchIconCity {
  width: 20px;
  height: 20px;
}

.searchIconEvnts {
  width: 22px;
  height: 22px;
}

.searchIconEvnts {
  margin-right: 5px;
  order: -1;
}

.searchIconCityContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  width: 42px;
  height: 100%;
  border-radius: 0px 8px 8px 0px;
  padding: 11px;
  background-color: #f65858;
}

.inputEvents,
.inputCity {
  width: 100%;
  border: none;
  outline: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 18.75px;
}
.inputEvents {
  color: #707070;
}

.inputCity {
  color: #000000;
}

main {
  padding: 0px 158px 0px 158px;
  width: 100%;
}

.peoplePlatform {
  display: flex;
  padding: 71px 0px 98.5px 0px;
}

.peoplePlatformContent {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 50%;
}

.peoplePlatformContent h1 {
  color: #212121;
  font-weight: 700;
  line-height: 52px;
  font-size: 42px;
}

.peoplePlatformContent {
  color: #212121;
  font-weight: 400;
  line-height: 24px;
  font-size: 16px;
}

.peoplePlatformImage {
  width: 50%;
}

.peoplePlatformImage img {
  max-width: 379px;
  padding-left: 55px;
}
